# Práctica 03

Carga la base de datos de hoteles de una ciudad diferente (Londres o Milán). Selecciona las variables utilizadas en el ejemplo y las filas correspondientes a los hoteles. Luego elimina duplicados y consulta y reemplaza datos perdidos en las variables numéricas. Guarda el notebook en formato html (File / Save and export Notebook as / HTML)

In [ ]:
import pandas as pd

In [ ]:
url = 'https://github.com/adan-rs/AnalisisDatos/raw/main/s03_preparacion_datos/data/b05b_hoteles-londres.xlsx'

variables = ["hotel_id", "accommodationtype", "price", "center1distance",
             "starrating", "guestreviewsrating"]

df = pd.read_excel(url, usecols=variables)