# Sesión 02: Uniones de DataFrames

La ejemplificación de uniones entre dataframes se realizará con dos dataframes sencillos para mostrar mejor el resultado

In [2]:
import pandas as pd

In [7]:
# Dataframe izquierdo
df_L = {'key':['A','B','C'],
        'L1':[ 1, 2, 3]}
df_L = pd.DataFrame(df_L)
df_L

  key  L1
0   A   1
1   B   2
2   C   3

In [10]:
# Dataframe derecho
df_R = {'key':['A','B','D'],
        'R1':[ 'T', 'F', 'T']}
df_R = pd.DataFrame(df_R)
df_R

  key R1
0   A  T
1   B  F
2   D  T

Unión interna de los dataframes L y R. 
Solo conserva filas que están en AMBOS dataframes

In [13]:
df_i = pd.merge(df_L, df_R, how='inner', on='key')
df_i

  key  L1 R1
0   A   1  T
1   B   2  F

Unión externa de los dataframes L y R: Devuelve todos los valores en todas filas, rellenando con NaN los valores faltantes en ambos.

In [21]:
df_o = pd.merge(df_L, df_R, how='outer', on='key')
df_o

  key   L1   R1
0   A  1.0    T
1   B  2.0    F
2   C  3.0  NaN
3   D  NaN    T

Unión izquierda de los dataframes L y R: devuelve todas las filas del dataframe izquierdo y las une con los valores coincidentes del dataframe derecho.

In [26]:
df_left = pd.merge(df_L, df_R, how='left', on='key')
df_left

  key  L1   R1
0   A   1    T
1   B   2    F
2   C   3  NaN